/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
}

body {
    font-size: 16px;
    line-height: 1.7;
    color: #808080;
}

a:hover {
    text-decoration: none
}

.section-padding {
    padding: 80px 0;
}

.section-title {
    margin-bottom: 50px;
}

.section-title h2 {
    position: relative;
    padding-bottom: 10px;
}

.section-title h2:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 50px;
    background-color: #ddd;
    border-radius: 10px;
}

.section-title h2:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 40px;
    background-color: #14adf3;
    border-radius: 10px;
}

.single-item-img {
    max-width: 160px;
    max-height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.single-item-meta {
    font-size: 14px;
    margin: 20px 0;
}

.single-item-meta h3 {
    margin-bottom: 1px;
    font-size: 19px;
}

.carousel .owl-nav {
    position: absolute;
    right: 0;
    top: -70px;
}

.carousel .owl-nav div {
    display: inline-block;
    margin-left: 6px;
    padding: 10px 10px;
    background-color: #f3f3f3;
}

.carousel .owl-nav div:hover {
    color: #fff;
    background-color: #14adf3;
}